<style scoped>
@font-face{
 font-family:'lcd-font';
 src: url('plugins/marantzdenon/core/template/dashboard/fonts/SubwayTickerGrid.ttf');
}
.ajaxamplidisplay  {
    color: white;
	background-color: black;
    font-family:'lcd-font';
	display:flex;flex-direction:column;justify-content:center;
	margin:5px;
	border: 1px solid white;
    border-radius: 7px;
	font-size:25px;
}
.ajaxamplidisplay table {
	border-collapse:collapse;border-spacing:0;width:100%;border-width:0px;padding:0px;text-align:center;overflow: hidden;
}
.line1  { font-size:100%;width:100%;cursor:pointer;padding-left:5px;}
.line1:hover { color: red; }
.line2  { font-size:80%;}
.line3  { font-size:65%;}
.line4  { font-size:50%;padding-top:8px;border-top-width:0px;border-top-style:solid;border-top-color:grey;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.colplaying  { padding-right:5px;font-size:65%;width:80px;vertical-align:top}
.btcontrol  { font-size:70%;cursor:pointer;margin-top:7px;padding:1px;float:left;}
.btcontrol:hover { color: red; }
.btinput  { cursor:pointer;}
.btinput:hover { color: red; }
.data {visibility:hidden;}
.controlbar {padding-left:6px;}
</style>
<div style="min-width:250px;min-height:150px;" class="tooltips cmd cmd-widget ajaxamplidisplay" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" style="display: block;">
  <i class="fa fa-ellipsis-h btcontrol" style="color:grey;position:absolute;padding:5px;top:-10px;left:0px;"></i>
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:55%;color:grey;position:absolute;padding:5px;top:-1px;right:0px;display:none;"></i>
  <span class="data" data-ret="mute"/><span class="data" data-ret="state"/><span class="data" data-ret="online"/><span class="data" data-ret="playinglogo"></span>
  <center>
	<table>
	  <tr>
        <td rowspan="3" class="controlbar"><i class="fa fa-volume-up btcontrol"/><i class="fa fa-volume-down btcontrol"/><i class="fa fa-volume-off btcontrol"/></td>
        <td class="line1"></td>
        <td rowspan="3" class="colplaying"><img class='ampliplaying' src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" height="80" width="80"/></td>
      </tr>
	  <tr><td class="line2"></td></tr>
	  <tr><td class="line3"></td></tr>
      <tr><td colspan="3" class="line4"></td></tr>
	</table>
	</center>
	<script>
      //$(function() {
        // config
        var showLogoPlaying=true;
        if("#showPlaying#" == "false" || "#showPlaying#" == "1"){
          showLogoPlaying = false;
        }
        var minWidthShowLogoPlaying=300;
        // -----
        var stateChange=false;
        function doCmd(cmd) {
           $.ajax({
			   type: "POST", global : false, url: 'plugins/marantzdenon/core/ajax/marantzdenon.ajax.php',
			   data: {	action: "sendcmd",equid: "#state#",	cmd: cmd },
               beforeSend : function () { $('.cmd[data-cmd_id=#id#] .fa-spin').show(); },
               success: function (data) {
    			   if (cmd!='refresh') { marantzdenonRefreshDisplay(); }
               },
			   complete : function () { $('.cmd[data-cmd_id=#id#] .fa-spin').hide(); }
			});
		}

        // init
		var root = $('.cmd[data-cmd_id=#id#]');
		root.find('.colplaying').hide();
		root.find('.fa-spin').hide();
        root.find('.controlbar').hide();
        root.find('.line4').hide();
        root.find('.fa-ellipsis-h').on("click", function() {
		 	root.find('.controlbar').toggle();
            root.find('.line4').toggle();
		});
        root.find('.fa-volume-up').on("click", function() {
        	doCmd('volume_up');
		});
        root.find('.fa-volume-down').on("click", function() {
        	doCmd('volume_down');
		});
        root.find('.fa-volume-off').on("click", function() {
            if ($('.data[data-ret=mute]').val()) doCmd('mute_off');
            else doCmd('mute_on');
		});
        root.find('.line1').on("click", function() {
            if ($('.data[data-ret=state]').val()===true) doCmd('off');
            else doCmd('on');
		});
      marantzdenonLoadCommands = function() {
        $.ajax({
			   type: "POST", dataType: 'json', global : false, url: 'plugins/marantzdenon/core/ajax/marantzdenon.ajax.php',
			   data: {	action: "getCmd",equid: "#state#" },
               success: function (data) {
               		if (data.state == 'ok') {

                          data = $.parseJSON(data.result);
                          var inputStr = ' ';
                          for(var input in data.input) {
                              inputStr += ' <span class="btinput" data="'+input+'">' + data.input[input] + '</span> |';
                          }
                          inputStr = inputStr.substring(0, inputStr.length-1) + ((Object.keys(data.fav).length>0)?' &nbsp; *':' ');
                      	  for(var fav in data.fav) {
                              inputStr += ' <span class="btinput" data="'+fav+'">' + data.fav[fav] + '</span> *';
                          }
                      	  //inputStr = inputStr.substring(0, inputStr.length-1);
                          $('.cmd[data-cmd_id=#id#] .line4').empty().append(inputStr);
                          $('.btinput').on("click", function() {
                             doCmd($(this).attr('data'));
                          });

                     }

               }
		  });
        };

		marantzdenonRefreshDisplay = function() {
			if ($('.cmd[data-cmd_id=#id#]').length==0){
				clearInterval(window['plugin_marantzdenon_timer_display_#id#']);
				return;
			}

			$.ajax({
				type: "POST",
				url: 'plugins/marantzdenon/core/ajax/marantzdenon.ajax.php',
				data: {
					action: "loaddisplay",
					equid: "#state#"
				},
				dataType: 'json',
				global : false,
				success: function (data) {
					var root = $('.cmd[data-cmd_id=#id#]');
					if (data.state != 'ok') {
						root.find('.line1').empty().append('Error');
						root.find('.line2').empty().hide();
						root.find('.line3').empty().hide();
                        root.find('.controlbar').hide();
                        root.find('.line4').hide();
					}
					else {
						data = $.parseJSON(data.result);
                        if ( $('.data[data-ret=online]').val() != data.online )
                          	doCmd('refresh');

						$('.data[data-ret=online]').val( data.online );

						if (data.online===true) {
                            $('.data[data-ret=mute]').val( data.mute );
                            $('.data[data-ret=state]').val( data.state );

							if (data.state===true) {
   						       //root.find('.controlbar').show();
                               //root.find('.line4').show();
								soundstring = 'Vol ' + data.volume;
								root.find('.line2').empty().show();
								root.find('.line3').empty().show();
								if (data.mute===true)
									soundstring = '<b style="color:yellow;">MUTE</b> (' + soundstring + ')';
								if (data.surround===true)
									soundstring = data.surround + ' | ' + soundstring;

								root.find('.line1').empty().append(data.input);
								if (data.netinfo===false)
									root.find('.line2').empty().hide();
								else
									root.find('.line2').empty().append(data.netinfo);

								root.find('.line3').empty().append(soundstring);

								if (data.playingstate===false || !showLogoPlaying || root.width() < minWidthShowLogoPlaying)
									root.find('.colplaying').hide();
								else {
									if ( root.find('.data[data-ret=playinglogo]').val() != data.playinglogo.length) {
										root.find('.ampliplaying').attr('src','data:image/png;base64,' + data.playinglogo);
										root.find('.data[data-ret=playinglogo]').val(data.playinglogo.length);
										root.find('.colplaying').show();
									}
								}
							} else {
								root.find('.line1').empty().append(data.state);
								root.find('.line3').empty().append(data.input);
								root.find('.line2').empty().hide();
								root.find('.colplaying').hide();
                                root.find('.controlbar').hide();
                                root.find('.line4').hide();
							}
						} else {
							root.find('.line1').empty().append(data.online);
							root.find('.line2').empty().hide();
							root.find('.line3').empty().hide();
                            root.find('.colplaying').hide();
                            root.find('.controlbar').hide();
                            root.find('.line4').hide();
						}
					}
				},
				error: function (data) {
					root.find('.line1').empty().append('Error');
					root.find('.line2').empty().hide();
					root.find('.line3').empty().hide();
                    root.find('.line4').hide();
				}
			 });
		};
        marantzdenonLoadCommands();
		marantzdenonRefreshDisplay();
		if (typeof window['plugin_marantzdenon_timer_display_#id#'] !== 'undefined')
			clearInterval(window['plugin_marantzdenon_timer_display_#id#']);
		window['plugin_marantzdenon_timer_display_#id#'] = setInterval(marantzdenonRefreshDisplay, 20000);
      //});
	</script>
</div>
