<style scoped>
.amplilogo  {
	margin:2px;
	border: 1px solid white;
    border-radius: 7px;
	padding:3px;
}
</style>
<div style="min-width:100px;min-height:100px;" class="tooltips cmd cmd-widget amplilogo" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" style="display: block;">
	<center><img class='ampliplaying' src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" height="100" width="100"></center>
	<script>
		marantzdenonRefreshPlaying = function() {
			$.ajax({
				type: "POST",
				url: 'plugins/marantzdenon/core/ajax/marantzdenon.ajax.php',
				data: {
					action: "loadplaying",
					url: "#state#"
				},
				dataType: 'json',
				global : false,
				success: function (data) {
					if (data.state != 'ok') {
						$('.cmd[data-cmd_id=#id#] .ampliplaying').attr('src','data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
					}
					else {
						$('.cmd[data-cmd_id=#id#] .ampliplaying').attr('src','data:image/png;base64,' + data.result);
					}
				},
				error: function (data) {
					$('.cmd[data-cmd_id=#id#] .ampliplaying').attr('src','data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
				}
			 });
		};
		marantzdenonRefreshPlaying();
		if (typeof window['plugin_marantzdenon_timer_playing_#id#'] !== 'undefined') 
			clearInterval(window['plugin_marantzdenon_timer_playing_#id#']);
		window['plugin_marantzdenon_timer_playing_#id#'] = setInterval(marantzdenonRefreshPlaying, 25000); 
	</script>
</div>
